<div id="home" style="background-image:url('{{ file_url(content.field_banner_bg_image['#items'].entity.uri.value) }}');">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-7" style="margin-top: 120px">
                <h1>{{ content.field_banner_title.0 }}</h1>
                <p class="tagline">{{ content.field_banner_desc.0 }}</p>
                <a href="{{ content.field_banner_btn[0]['#url']|render }}" class="btn btn-primary">{{ content.field_banner_btn[0]['#title']|render }}</a>
                <a href="{{ content.field_banner_btn_two[0]['#url']|render }}" class="btn btn-primary">{{ content.field_banner_btn_two[0]['#title']|render }}</a>
            </div>
        </div>
    </div>
</div>