 
<form {{ attributes }}>
    <div class="row"> 
        <div class="col-lg-6 form-item">
              {{ element.elements.name }}
        </div>
        <div class="col-lg-6 form-item">
              {{ element.elements.e_mail_address }}
        </div> 
        <div class="col-lg-6 form-item">
              {{ element.elements.phone_number }}
        </div>
        <div class="col-lg-6 form-item">
              {{ element.elements.subject }}
        </div> 
        <div class="col-lg-12 form-item">
             {{ element.elements.your_message }} 
        </div> 
        <div class="col-lg-12 form-submit text-center">
            {{ element.elements.actions }}
			{{ element.form_build_id }}
	        {{ element.form_token }}
		    {{ element.form_id }} 
        </div>
    </div>
</form>
