/* GLOBAL
----------------------*/
body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}
a {
    color: #e38cb7;
}
a:hover,
a:focus {
    color: #d6619c;
}
h1 {
    font-size: 54px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
}
h2 {
    font-size: 45px;
    font-weight: 300;
    color: #000000;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}
h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
h5 {
    font-size: 28px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 0.7rem;
}
p {
    color: #959094;
}
footer p span{
    color:#e38cb7;
}
p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}
.text-primary {
    color: #e38cb7 !important;
}
.light-font {
    font-weight: 300;
}
.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}
.btn-outline-light:hover {
    color: #d6619c;
}
.btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.btn-primary {
    background: #000000;    
    border-radius: 3px;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
    margin-right: 20px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: #ffffff !important;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #000000 !important;
}
.btn-light {
    background: #000000;    
    border-radius: 3px;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
    margin-right: 20px;
    color: #ffffff;    
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    background: #282667;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}
.section {
    padding: 100px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 3rem;
}
.section-title small {
    color: #998a9b;
}
.light-bg {
    background-color: #ffffff;
}
.dark-bg {
    background-color: #f9f9f9;
}
/* header {
    padding: 100px 0 0;
    background-color: #282667;
} */
.navbar {
    padding: .5rem 0rem;
}
.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #282667;
}

.nav-menu.is-scrolling {
    padding: 5px;  
}
.navbar-nav .nav-link {
    position: relative;
}
#home {
    background: #282667  center no-repeat;
    background-size: cover;
    min-height: 700px;
    padding-top: 100px;
}
#home h1{
    color: #FFF;
}
#hire-me {
    background: #282667  center no-repeat;
    background-size: cover !important;    
    min-height: 400px;     
}
#hire-me h3 {
    padding: 30px 0px;
}
.slider-content {
    margin-top: 120px
}
.tagline {
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    max-width: 800px;
    margin-bottom: 30px;
}
.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}
.card-text {
    font-size: 14px;
}
.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}
.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}
#about-me {
    padding: 100px 0 0;
}
.about-me, .contact-me {
    margin: 20px 0px;
}
.skill {
    margin-bottom: 35px;
    position: relative;
    overflow:hidden;        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #f9f9f9;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#000000;
    display: block;
    position: relative;
}
.skill1{
    width: 95%;
        
}
.skill-bar span{
    position: absolute;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;        
}
.skill1 .skill-count1 {
    right: 0;
}
.skill2 .skill-count2 {
    right: 0;
}
.skill3 .skill-count3 {
    right: 0;
}
.skill4 .skill-count4 {
    right: 0;
}
.skill5 .skill-count5 {
    right: 0;
}
.skill6 .skill-count6 {
    right: 0;
}
.gallery-wrapper {
  overflow: hidden;
}
.grid-item {
  padding-bottom: 3rem;
}
.portfolio-item {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.portfolio-item:hover {
    cursor: pointer;
}
.portfolio-description {
    background-color: rgba(0, 0, 0, .8);
    backface-visibility: hidden;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: scale(1.2);
    transition: .6s ease;
    opacity: 0;
}
.portfolio-item h4 {
    color: #ffffff;
}
.grid-item img {
    border-radius: 0;
    transform: scale(1) rotate(0deg);
    backface-visibility: hidden;
    transition: .6s ease;
    width: 100%;
}
.grid-item:hover img {
    transform: scale(1.2) rotate(-9deg);
}
.grid-item:hover .portfolio-description {
    transform: scale(1);
    opacity: 1;
}
.form-item {
    margin-bottom: 10px;
}
.form-submit {
    margin-top: 20px;    
}
.feature-body .icon {
    padding-top: 15px;    
    padding-bottom: 15px;
}
@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #ffffff;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}
@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}
@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}
@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}
@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}
.social-icons {
    text-align: right;
}
.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}
.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}
@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}


/* Start Custom theme css */
.user-logged-in .fixed-top{
    top: 115px;
    z-index: 300;
}
.user-logged-in .fixed-top.is-scrolling {
    top: 79px;
}
.form-item, .form-actions {
    margin-top: 6px !important;
    margin-bottom: 0px !important;
}
input#edit-e-mail-address {
    position: relative;
    top: 4px;
}
p.our-info {
    font-size: 13px;
}
footer p{
    margin-bottom: 0px;
}

/* strat user login form*/
.path-user .breadcrumb{
    display: block;
    background-color: transparent; 
}
.path-user h2::after{
    background-color: transparent;
}
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #002745;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #002745;
}
.btn-primary{
    background-color: #002745;
    border-color: #002745;
}
.login-button input {
  padding: 5px 20px 5px 20px;
  background: #002745;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #002745;
  color: #002745;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
  padding: 5px 20px 5px 20px;
  background: #002745;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

}
/* end user login form */


/* page not found */
#not-found-section {
    padding:100px 0px;
}

.not-found-body {
    max-width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #002745;
    padding: 10px 50px 30px 50px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #002745;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #002745;
}

#not-found-section a.btn.btn-custom{
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    background-color: #002745;
    border-color: #002745 !important;
    color: #fff !important;
    transition: 0.7s;
}
#not-found-section a.btn.btn-custom:hover{
    background-color: #fff;
    border-color: #002745 !important;
    color: #333 !important;
    transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title {
    border: 2px solid #002745 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title {
    border: 2px solid #002745 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #002745 !important;
}
.not-title {
    border: 2px solid #002745 !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 320px) and (max-width: 363px) {
 #home .btn-primary{
    margin-bottom: 15px;
 }
}  
.region.region-primary-menu {
    width: 100%;
} 

/* end page not found */
 /*End Custom theme css */
 .node__content{
    margin-top: 0px !important;
 }  

 .nav-menu .navbar{
    justify-content: space-between;
 }

 @media (max-width: 991.98px) { 
    #block-yg-profile-main-menu{
        display: contents;
     }
 }
 .navbar-collapse{
    flex-grow: 0;
 }
 .path-themes #home,
 .path-admin #home,
 .path-themes #home,
 .path-user #home{
    padding-top: 150px;
    padding-bottom: 100px;
    min-height: unset;
 }
 .path-themes #home .slider-content,
 .path-admin #home .slider-content,
 .path-user #home .slider-content{
    margin-top: 0px;
 }
 .status-message{
    margin-left: 25px;
 }
 .status-message h2{
    font-size: 35px;
    font-weight: 500;
}