
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        {{ page.header}} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                            {{ page.primary_menu }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% set url = url('<current>') %}
{% if 'user' in url|render|render %}    
    <div id="home" style="background-image:url({{ bg_image_url }})";>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12 text-center slider-content wow slideInUp">
                    <h1 class="">{{ page['#title'] }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}  

    {# <section {{ content_attributes.addClass(content_classes) }}>
            
            {% block content %}
              <a id="main-content"></a> #}
        <main role="main">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
            <div class="layout-content">
                {{ page.content }}
            </div>
         </main>
            {# {% endblock %}
    </section> #}



<footer class="my-5 text-center">
    {% if copyright %}
        {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
    {% endif %}  
</footer>